
<div class="container" style="text-align:center;margin-top:100px;">
<%= link_to "<button class='btn btn-primary'  style='width:150px;background-color: #007bff;border-color: #007bff;'>Projects</button>".html_safe, projects_path %></br></br>
<%= link_to "<button class='btn btn-primary'  style='width:150px;background-color: #007bff;border-color: #007bff;'>Users</button>".html_safe, users_path %></br></br>
<%= link_to "<button class='btn btn-primary' style='width:150px;background-color: #007bff;border-color: #007bff;'>Departments</button>".html_safe, departments_path%></br></br>
</div>
